@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');

:root{
  --font : 'Source Code Pro', monospace;
  --color--font : #ffffff;
}
/* style for small screns (mobile)*/
@media (max-width: 600px) {
  body{
    background-image: url("./Pictures/MobileBackground.webp");
    background-size: co;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  section {
    min-width: 80%;
  }

  div a img{
    max-width: 20%;
  }

  #social-icons{
    margin-top: 1rem;
  }
}
/* style for big screns (tablet and desktop)*/
@media (min-width: 600px) {
  body {
    background-image: url("./Pictures/Background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  #social-icons{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  section {
    max-width: 50%;
  }
}
/*universal characteristics*/
body {
  font-family: var(--font);
  color: var(--color--font);
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  background-color: rgba(0, 0, 0, 0.85);
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: auto;
}

/*font properties*/
div a p{
  display: none;
}

.title{
  font-size: 2.5rem;
  margin: 2.5% 5.5%;
}

.subtitle{
  font-size: 1.5rem;
  margin: 2.5% 5.5%;
}

.txt{
    margin: 0 6%;
    font-size: 1.1rem;
}
/*pictures proprerties*/
.icon{
  width: 45%;
  padding-top: 1.5rem;
}

div a img{
  width: 5rem;
}

div div img{
  margin: 1rem 0;
  max-width: 75%;
  border-radius: 1rem;
}

.division{
  width: 100%;
  position: relative;
}

footer{
  margin: 0rem 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}